# App server
PORT=3000

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.pmuuocmfagtuzlxrvnhu:YOUR_URL_ENCODED_PASSWORD@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.pmuuocmfagtuzlxrvnhu:YOUR_URL_ENCODED_PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# If your password has special characters (space, @, :, /, #, ?), URL-encode it first.
# Example: "start over 123" -> "start%20over%20123"
